/* * { 
  border-style: dashed;
} */

body {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  min-width: 320px; 
  min-height: 100vh;
  background-color: #64113F;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Login */

.form-container { 
  text-align: center
}

.main-title {
  font-size: 72px;
  background: -webkit-linear-gradient(45deg, #EABFCB, #A4508B);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-input-section { 
  display: flex;
  flex-direction: column;
  filter: drop-shadow(4px 4px 8px #222222);
}

.login-input { 
  font-family: inherit;
  text-align: center;
  margin-top: 20px;
  line-height: 35px;
  border: none;
  border-radius: 3px;
  background-color: #EABFCB;
  color: #222222;
}

::placeholder { 
  text-align: center;
}

input:focus { 
  outline: none
}

.login-logo-container { 
  display: flex; 
  justify-content: space-between;
  margin-top: 20px;
  padding: 2px;
  margin: 0px;

}

.login-logo-container img { 
  max-width: 50px;
  max-height: 50px;
  filter: drop-shadow(1px 1px 2px #C191A1);
}


.login-logo-container img:hover { 
  filter: drop-shadow(1px 1px 2px #d3d3d3);
}

#alt-login-text { 
  margin-top: 60px;
  font-size: larger;
  color: #C191A1;
}

/* Navbar */
/* .nav-items { 
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
  font-weight: bolder;
  letter-spacing: 1px;
  border: 3px;
} */


#logged-in-view { 
  display: none;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}


.container {
  box-shadow: 0px 9px 7.5px rgb(0,0,0, .1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: space-between;
}


nav { 
  display: flex;
  justify-content: end;
}

/* Buttons */

button { 
  line-height: 160%;
  border: none; 
  border-radius: 3px;
  background-color: #C191A1;
  letter-spacing: 1px;
  font-weight: bold;
  color: #222222;
  font-size: 18px;
}

button:hover { 
  background-color: #d3d3d3;
  cursor: pointer;
}

.login-page-btn { 
  line-height: 30px;
  border: none;
  border-radius: 3px;
  background-color: #C191A1;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #222222;
  font-size: 18px;
}

#logout-btn { 
  margin: 20px;
}

#create-account-btn { 
  margin-top: 20px;
}

#login-btn { 
  margin-top: 60px;
}

.auth-btn { 
  border: none; 
  background-color: transparent;
}

.auth-btn:hover { 
  background-color: transparent;
  cursor: pointer;
} 




